<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="container">
    <h1>Home Page</h1>
</div>

</body>
</html>