<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="css/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesheet" href="css/main.css">
  <style>

    .add-to-cart-btnm, .btn { display: none }
  </style>
</head>
<body>

<div th:replace="~{navbar.html :: navbar}"></div>

<main class="container">
  <section>
    <h1>Products</h1>

    <div class="category-products">
      <h2 th:each="category : ${categories}">
        <span th:text="${category.name}"></span>
        <div class="category-products-wrapper" style="margin-top: 1.5rem">
          <div class="product">
            <div class="product-info">
              <p>Product 1</p>
              <p>10€</p>
              <p>5 units</p>
            </div>
            <button class="add-to-cart-btn btn" data-style="primary">
              <i class="fa-solid fa-cart-shopping"></i>
              <span>Add to Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="product-info">
              <p>Product 2</p>
              <p>10€</p>
              <p>10 units</p>
            </div>
            <button class="add-to-cart-btn btn" data-style="primary">
              <i class="fa-solid fa-cart-shopping"></i>
              <span>Add to Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="product-info">
              <p>Product 3</p>
              <p>10€</p>
              <p>10 units</p>
            </div>
            <button class="add-to-cart-btn btn" data-style="primary">
              <i class="fa-solid fa-cart-shopping"></i>
              <span>Add to Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="product-info">
              <p>Product 4</p>
              <p>10€</p>
              <p>10 units</p>
            </div>
            <button class="add-to-cart-btn btn" data-style="primary">
              <i class="fa-solid fa-cart-shopping"></i>
              <span>Add to Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="product-info">
              <p>Product 5</p>
              <p>10€</p>
              <p>10 units</p>
            </div>
            <button class="add-to-cart-btn btn" data-style="primary">
              <i class="fa-solid fa-cart-shopping"></i>
              <span>Add to Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="product-info">
              <p>Product 6</p>
              <p>10€</p>
              <p>10 units</p>
            </div>
            <button class="add-to-cart-btn btn" data-style="primary">
              <i class="fa-solid fa-cart-shopping"></i>
              <span>Add to Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="product-info">
              <p>Product 7</p>
              <p>10€</p>
              <p>10 units</p>
            </div>
            <button class="add-to-cart-btn btn" data-style="primary">
              <i class="fa-solid fa-cart-shopping"></i>
              <span>Add to Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="product-info">
              <p>Product 8</p>
              <p>10€</p>
              <p>10 units</p>
            </div>
            <button class="add-to-cart-btn btn" data-style="primary">
              <i class="fa-solid fa-cart-shopping"></i>
              <span>Add to Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="product-info">
              <p>Product 9</p>
              <p>10€</p>
              <p>10 units</p>
            </div>
            <button class="add-to-cart-btn btn" data-style="primary">
              <i class="fa-solid fa-cart-shopping"></i>
              <span>Add to Cart</span>
            </button>
          </div>
          <div class="product">
            <div class="product-info">
              <p>Product 10</p>
              <p>10€</p>
              <p>10 units</p>
            </div>
            <button class="add-to-cart-btn btn" data-style="primary">
              <i class="fa-solid fa-cart-shopping"></i>
              <span>Add to Cart</span>
            </button>
          </div>
        </div>
      </h2>

    </div>
  </section>
</main>

</body>
</html>