<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="css/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div th:replace="~{navbar.html :: navbar}"></div>

<main class="container">
  <section>
    <h1>Products</h1>

    <div class="categories-wrapper">
      <div th:each="category : ${categories}" class="category">
        <h2 th:text="${category.name}"></h2>
        <div class="category-products">
          <div th:each="product : ${products}" th:if="${product.category == category.id}" class="product">
            <div class="product-line">
              <span>Nome</span>
              <span th:text="${product.name} ?: ''"></span>
            </div>
            <div class="product-line">
              <span>Price</span>
              <span th:text="${product.price > 0 ? product.price + '€' : ''}"></span>
            </div>
            <div class="product-line">
              <span>Stock</span>
              <span th:text="${product.stock != null ? product.stock + ' unit(s)' : ''}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</main>

</body>
</html>