.root {
    -fx-font-size: 16px;
}

.title {
    -fx-fill: #0d6273;
    -fx-font-weight: 600;
    -fx-font-size: 2em;
    -fx-text-alignment: center;
}

.sidebar { -fx-background-color: #f3fcf9; }
.sidebar-menu-label { -fx-fill: #031c07; }

.body { -fx-background-color: #FFFFFF; }

.btn {
    -fx-padding: .5em 1em;
    -fx-border-radius: .5em;
    -fx-font-size: 1.125em;
    -fx-background-color: #17cf91;
    -fx-text-fill: #031c07;
}

.btn:hover {
    -fx-cursor: hand;
}

.input {
    -fx-background-color: #fafafa;
    -fx-border-radius: 1em;
}